.subComponent {
    color: rgb(45, 0, 87);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#SiteHeading {
    color: rgb(119, 6, 163);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2,h1 {
    display: inline-block;
    padding-right: 50px;
    color: brown;
}

.item {
    background: var(--clr-white);
    display: flex;
    justify-content: space-between;
    max-width: var(--fixed-width);
    margin: 2rem auto;
    align-items: center;
    border-radius: var(--radius);
  }
.form-control {
    margin: 2rem auto;
    
}