.subComponent {
    color: rgb(45, 0, 87);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#SiteHeading {
    color: rgb(119, 6, 163);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2,h1 {
    display: inline-block;
    padding-right: 50px;
    color: brown;
}

.item {
    background: var(--clr-white);
    display: flex;
    justify-content: space-between;
    max-width: var(--fixed-width);
    margin: 2rem auto;
    align-items: center;
    border-radius: var(--radius);
  }
.form-control {
    margin: 2rem auto;
    
}

.inputs {
    margin-bottom: 0.5rem;
}

.navlinks {
    margin-bottom: 1rem;
}

button {
    margin-top: 1rem;
}

.btn {
    display: inline-block;
    background: rgb(87, 87, 243);
    color: white;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    letter-spacing: var(--spacing);
    cursor: pointer;
    border-color: transparent;
    
  }

  h3 {
    font-weight: normal;
  }

  .lbl {
    font-weight: bold;
  }
